.hs-faq-container{
	width: 100%;
	text-align: left;
}
.hs-faq-container label{
	font-family: 'Arial Narrow', Arial, sans-serif;
	padding: 5px 20px;
	position: relative;
	z-index: 20;
	display: block;
	height: auto;
	cursor: pointer;
	color: #777;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	line-height: 33px;
	font-size: 19px;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);
}
.hs-faq-container label:hover{
	background: #fff;
}
.hs-faq-container input:checked + label,
.hs-faq-container input:checked + label:hover{
	background: #c6e1ec;
	color: #3d7489;
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
}
.hs-faq-container label:hover:after,
.hs-faq-container input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	background: transparent url(../../images/arrow_down.png) no-repeat center center;	
}
.hs-faq-container input:checked + label:hover:after{
	background-image: url(../../images/arrow_up.png);
}
.hs-faq-container input{
	display: none;
}
.hs-faq-container article.ac-small{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	max-height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: max-height 0.5s ease-in-out, box-shadow 0.6s linear;
        -moz-transition: max-height 0.5s ease-in-out, box-shadow 0.6s linear;
        -o-transition: max-height 0.5s ease-in-out, box-shadow 0.6s linear;
        -ms-transition: max-height 0.5s ease-in-out, box-shadow 0.6s linear;
        transition: max-height 0.5s ease-in-out, box-shadow 0.6s linear;
	margin-bottom:0px !important;
	padding-bottom:0px !important;
}
.hs-faq-container article.ac-small p{
	font-style: italic;
	color: #777;
	line-height: 23px;
	font-size: 14px;
	padding: 20px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.hs-faq-container input:checked ~ article{
    -webkit-transition: max-height 0.5s ease-in-out, box-shadow 0.1s linear;
    -moz-transition: max-height 0.5s ease-in-out, box-shadow 0.1s linear;
    -o-transition: max-height 0.5s ease-in-out, box-shadow 0.1s linear;
    -ms-transition: max-height 0.5s ease-in-out, box-shadow 0.1s linear;
    transition: max-height 0.5s ease-in-out, box-shadow 0.1s linear;
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.hs-faq-container input:checked ~ article.ac-small{
    max-height: 500px; /*auto*/
}
.hs-faq-qustion{
    font-family: 'Arial Narrow', Arial, sans-serif;
    padding: 20px 20px 0;
    font-size: 20px;
}
.fa-question:before {
    content: "Q.";
    font-family: Times New Roman;
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    margin-right: 10px;
}
@media (min-width:240px) and (max-width:640px){
	.hs-faq-container label{
		font-size:14px;
		line-height:30px;
		padding: 0 16px;
	}
	.fa-question:before{
		font-size:15px;
	}
	.hs-faq-container article.ac-small p{
		font-size: 12px;
		line-height: 23px;
		padding: 5px 15px;
	}
}