<!DOCTYPE html>
<html lang="en-US">
<head>
{include file=includes/head.html}
</head>
<body class="home blog body-class">

<!-- Start Top Content -->
{include file=includes/header.html}

<div class="margin-30t"></div>
    <div id="content" class="container">

        <div class="row-fluid">
            <div class="span7">
                <div class="row-fluid">
                    <div class="span12">
                    {$maincontent}
                    </div>

                    <p>&nbsp;</p>
                    <div class="span11">
                        <a href="http://facebook.com/groups/silattradisional/" target="_blank" alt="Forum Silat Tradisional di Facebook"><img src="{themefullpath}/img/banner/facebook.jpg"></a><br />
                        <a href="http://facebook.com/groups/silattradisional/" target="_blank" alt="Forum Silat Tradisional di Facebook">Facebook Group Silat Tradisional</a> |
                        <a href="http://facebook.com/groups/sahabatsilat/" target="_blank" alt="Forum Sahabat Silat di Facebook">Facebook Group Sahabat Silat</a>
                        <a href="http://sahabatsilat.com/" target="_blank" alt="Forum Sahabat Silat">Forum Sahabat Silat</a>
                    </div>
                </div>
            </div>

            <div class="span2">
                <div class="widget clearfix">
                    <div class="widget-header"><h3 class="entry-title-widget">Silat Indonesia Media</h3></div>
                    <div class="bottom-line"></div>
                    <div class="size-32px">
                        <a href="http://www.facebook.com/sahabatsilat" class="Facebook" target="_blank"><img src="{$themefullpath}/img/social/facebook.png" alt="Facebook Sahabat Silat"/></a>
                        <a href="http://www.facebook.com/silattradisional" class="Facebook" target="_blank"><img src="{$themefullpath}/img/social/facebook.png" alt="Facebook Silat Tradisional"/></a>
                    </div>
                </div>
                <div class="widget clearfix">
                    <div class="widget-header"><h3 class="entry-title-widget">Category</h3></div>
                    <div class="bottom-line"></div>
                    {block mod=category func=categorylist class="recentposts-widget list"}
                </div>
                <div class="widget clearfix">
                    <div class="widget-header"><h3 class="entry-title-widget">Random News</h3></div>
                    <div class="bottom-line"></div>
                    {text mod=wpnews func=randomnews number=17 class="mostviewed-widget"}
                </div>
            </div>

            <div class="span3">
                <div class="widget clearfix">
                    <a href="http://www.sahabatsilat.com/"><img src="{themefullpath}/img/logo/sahabatsilat-com.png" alt="Forum Sahabat Silat"></a>
                </div>

                <div class="widget clearfix">
                    <div class="widget-header"><h3 class="entry-title-widget">Last News</h3></div>
                    <div class="bottom-line"></div>
                    {text mod=wpnews func=lastnews number=7 class="mostviewed-widget list"}
                </div>

                <div class="widget clearfix">
                    <div class="widget-header"><h3 class="entry-title-widget">Informasi</h3></div>
                    <div class="bottom-line"></div>
                    {text mod=wpnews func=lastnews number=10 category=information class="mostviewed-widget list"}
                </div>

                <div class="widget clearfix">
                    <div class="widget-header"><h3 class="entry-title-widget">Tag Cloud</h3></div>
                    <div class="bottom-line"></div>
                    {block mod=tag func=tagcloud number=50 type=cloud}
                </div>

                <div class="widget clearfix">
                    <div class="widget-header"><h3 class="entry-title-widget">Support</h3></div>
                    <div class="bottom-line"></div>
                    <div>
                    </div>
                    <div class="blog-thumb banner-logo">
                    <a href="{$baseurl}/tag/fp2sti/"><img src="{themefullpath}/img/logo/logo-fp2sti.jpg" alt="FP2STI"></a>
                    <a href="{$baseurl}/tag/fp2sti/">Forum Pecinta dan Pelestari Silat Tradisional Indonesia</a>
                    </div>
                </div>

            </div>
        </div><!-- row-fluid -->

	  <!-- CONTENT + LEFT + RIGHT --><!-- row-fluid -->
	  <!-- END LEFT + CONTENT + RIGHT -->



  </div> <!-- #content -->
  <!-- END CONTENT ENTRY -->

{include file="includes/footer.html"}
</body>
</html>
