<title>{text mod=wpnews func=getoption name=blogname filter=lowercase}{text mod=wpnews func=newstitle filter=lowercase}</title>
<meta charset="utf-8">
<meta name="keywords" content="fastplaz" />
<meta name="description" content="{text mod=wpnews func=getoption name=blogdescription}" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel='stylesheet' href='{themefullpath}/style/bootstrap.css' type='text/css' media='all' />
<link rel='stylesheet' href='{themefullpath}/style/bootstrap-responsive.css' type='text/css' media='all' />
<link rel='stylesheet' href='{themefullpath}/style/prettyphoto.css' type='text/css' media='all' />
<link rel='stylesheet' href='{themefullpath}/style/style.css' type='text/css' media='all' />
<link rel='stylesheet' href='{themefullpath}/style/options.css' type='text/css' media='all' />
<link rel='stylesheet' href='{themefullpath}/style/nextgen_basic_singlepic.css' type='text/css' media='all' />
<link rel='stylesheet' href='{themefullpath}/style/force.css' type='text/css' media='all' />
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans%3A400%2C400italic%2C700italic%2C700&#038;ver=3.9.1' type='text/css' media='all' />
<script type='text/javascript' src='{themefullpath}/js/jquery/jquery.js'></script>
<script type='text/javascript' src='{themefullpath}/js/jquery/jquery-migrate.min.js'></script>

<meta content='478262302306402' property='fb:admins'/>

