<footer id="colophon" class="site-footer" role="contentinfo">
	<div class="site-info">
        <div class="l">
            <a href="http://wordpress.org/">Original Theme : WordPress Twenty Fourteen</a>
            | Enhanced by <a href="http://www.fastplaz.com/">FastPlaz</a>
        </div>
        <div id="looadtime" class="r" xstyle="display:none;">
            Load Time : [debug type=time]
        </div>
	</div><!-- .site-info -->
</footer><!-- #colophon -->
<script type='text/javascript' src='[$themefullpath]/js/functions.js?ver=20140319'></script>

