
li.current_page_item a, .current-menu-ancestor > a { border-top: 3px solid #FC7979 !important; }
.sf-menu li ul.sub-menu { border-bottom: 3px solid #FC7979 !important; }
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active { border-top: 3px solid #FC7979; }
.pagination .current { background: #FC7979 }
.pagination a:hover { background: #FC7979 !important }
.to-top { background-color: #FC7979 !important }
#footer a:hover { background-color: #FC7979 }
.widget-thumb > .mask-thumb, .blog-thumb > .mask-thumb, .big-thumb > .mask-thumb, .carousel-thumb-single > .mask-thumb { background-color: #FC7979 }
.overall_score > .score_value { background-color: #FC7979 }
#author-description a { background-color: #FC7979 }
.nav-single a { color: #FC7979 }
.comment-author span { color: #FC7979 }
.reply { background-color: #FC7979 }
#commentform input[type="submit"] { background-color: #FC7979 }
ul.score-list li.summary-review { background-color: #FC7979 }
.category-title > h1 { color: #FC7979 }
#wp-calendar td#today { background-color: #FC7979 }
.footer-menu li.current_page_item a, .footer-menu .current-menu-ancestor > a { background-color: #FC7979 }
.tagcloud a { background-color: #FC7979 }

/* Body BG Color */
body, .body-class {
	background: none;
	background-color: #FFFFFF}


/* Headers Styling */
h1 {
	color: #111111;
	font-style: normal;	
		
	font-size: 38px; 
	line-height: 40px; 
}

h2 {
	color: #111111;
	font-style: normal;	
		
	font-size: 32px; 
	line-height: 34px; 
}

h3 {
	color: #111111;
	font-style: normal;	
		
	font-size: 24px; 
	line-height: 24px; 
}

h4 {
	color: #111111;
	font-style: normal;	
		
	font-size: 17px; 
	line-height: 24px; 
}

h5 {
	color: #111111;
	font-style: normal;	
		
	font-size: 14px; 
	line-height: 20px; 
}

h6 {
	color: #111111;
	font-style: normal;	
		
	font-size: 12px; 
	line-height: 20px; 
}
